.form-container{
    padding: 15px;
    border-radius: 3px;
    box-shadow: 5px 10px 15px #242424 ;
    width: 33%;
    background-color: white;
    margin: auto;
    margin-top: 5%;
}

.form-header{
    font-size: 18pt;
    text-align: center;
}

@media screen and (max-width: 960px){
    .form-container{
        border-radius: 3px;
        box-shadow: #242422 ;
        width: 50%;
        background-color: white;
        margin: auto;
        margin-top: 10%;
    }
}

@media screen and (max-width: 540px){
    .form-container{
        border-radius: 3px;
        box-shadow: #242422 ;
        width: 90%;
        background-color: white;
    }
}