input{
    border: solid 1px black;
    border-radius: 2px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14pt;
}